.centeredimg{
  margin-top: 1%;
  margin-right: 1vw;
  
  width:14vw;
  height:14vw;
  border-radius: 50%;
}

.gittitle{
	text-align:center;
	font-size:3vw;
}

.gitname{
	text-align:center;
	font-size:1.5vw;
}

.titlenameright{
		text-align:left;
		margin-left:5%;
		font-size:3vw;
		text-align:middle;
		margin-top:1%;
	}
	
.titlenameleft{
		text-align:right;
		margin-right:5%;
		font-size:3vw;
		text-align:middle;
		margin-top:1%;
	}
	
.descleft{
		text-align:right;
		margin-right:5%;
		font-size:1.5vw;
	}
	
.descright{
		text-align:left;
		margin-left:5%;
		font-size:1.5vw;
	}
	
	
.split {
	top:100vh;
}

.split2 {
	top:150vh;
}

#bio{
}

.left {
  float: left;
  width: 45%;
  height: 30vh;
  background-color: black;
}
.left2{
  float: left;
  width: 55%;
  height: 30vh;
  background-color: gray;
}

.right {
  float: right; 	
  width: 55%;
  height: 30vh;
  background-color: gray;
}

.right2 {
  float: right; 	
  width: 45%;
  height: 30vh;
  background-color: black;
}

body, html {
  font-family: Arial;
  color: white;
  height: 100%;
}

@media screen and (max-width: 600px){
	.gitname{
		font-size:2vh;
	}
	.gittitle{
		font-size:3vh
	}
	.titlenameright{
		font-size:3vh;
	}
	
	.titlenameleft{
		font-size:3vh;
	}
	
	.descleft{
		font-size:2vh;
	}
	
	.descright{
		font-size:2vh;
	}
	
	.centeredimg{
		width:30vh;
		height:30vh;
	}
	.left{
		height:30vh;
	}
	.left2{
		height:30vh;
	}
	.right{
		height:30vh;
	}
	.right2{
		height:30vh;
	}
}

.parallax{

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax1 {
  background-image: url('/static/images/background.jpg');
  min-height:100%;
}

#parallax2 {
  background-image: url("/static/images/gitlabbg.jpg");
  min-height: 160%;
}

#parallax3 {
  background-image: url("/static/images/gitlabbg.jpg");
  min-height: 65%;
}
#parallax4 {
  background-image: url("/static/images/background1.jpg");
  min-height:100%;
}

#navbar {
  overflow: hidden;
  z-index:1;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
html {
  scroll-behavior: smooth;
}

#projects{}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -ms-flex: 33%; /* IE10 */
  flex: 33%;
  max-width: 33%;
  padding: 0 1px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}