<div style="color: #777;background-color:white;text-align:center;text-align:justify;margin-top:10px">
<h4 style="text-align:center;">Copyright 2020 (c)</h4>
<p style="text-align:center">Priagung mager nyari logo</p>
</div>
