<!DOCTYPE html>
<html lang = "en-US">
 <head>
	{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/index.css' %}">
<title>Extrapage</title>
 </head>
 <body>
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark  fixed-top id="mainNav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      {% include 'navbar.html' %}
   </button>
    </ul>
  </div>
</nav>
	
<div class="parallax" id="parallax4">
<h3 style="text-align:center; padding-top:70vh; padding-right:5%;font-size:5vh">S C R E E N S H O T S</h3>
</div>

<div class="row"> 
  <div class="column">
    <img src="{% static 'images/faceit.png'%}" style="width:100%">
    <img src="{% static 'images/tetogre.png'%}" style="width:100%">
    <img src="{% static 'images/csgohours.png'%}" style="width:100%">
    <img src="{% static 'images/steamuser.png'%}" style="width:100%">
	<img src="{% static 'images/faceit.png'%}" style="width:100%">
    <img src="{% static 'images/tetogre.png'%}" style="width:100%">
    <img src="{% static 'images/csgohours.png'%}" style="width:100%">
  </div>
  <div class="column">
    <img src="{% static 'images/faceit.png'%}" style="width:100%">
    <img src="{% static 'images/tetogre.png'%}" style="width:100%">
    <img src="{% static 'images/csgohours.png'%}" style="width:100%">
	<img src="{% static 'images/faceit.png'%}" style="width:100%">
    <img src="{% static 'images/tetogre.png'%}" style="width:100%">
    <img src="{% static 'images/csgohours.png'%}" style="width:100%">
    <img src="{% static 'images/steamuser.png'%}" style="width:100%">
  </div>  
  <div class="column">
	<img src="{% static 'images/faceit.png'%}" style="width:100%">
    <img src="{% static 'images/tetogre.png'%}" style="width:100%">
	<img src="{% static 'images/faceit.png'%}" style="width:100%">
    <img src="{% static 'images/tetogre.png'%}" style="width:100%">
    <img src="{% static 'images/csgohours.png'%}" style="width:100%">
    <img src="{% static 'images/csgohours.png'%}" style="width:100%">
    <img src="{% static 'images/steamuser.png'%}" style="width:100%">
  </div>
  <div class="column">
    <img src="{% static 'images/faceit.png'%}" style="width:100%">
    <img src="{% static 'images/tetogre.png'%}" style="width:100%">
    <img src="{% static 'images/csgohours.png'%}" style="width:100%">
	<img src="{% static 'images/faceit.png'%}" style="width:100%">
    <img src="{% static 'images/tetogre.png'%}" style="width:100%">
    <img src="{% static 'images/csgohours.png'%}" style="width:100%">
    <img src="{% static 'images/steamuser.png'%}" style="width:100%">
  </div>
</div>

{% include 'copyright.html' %}

</body>
</html>
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	
 </body>
</html>


