<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friend List</title>

    <!-- Bootstrap CSS -->
	<link rel="stylesheet"      ="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/index.css' %}">
<style>
body{
background-color: gray;
}
</style>

</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark  fixed-top id="mainNav">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
			{% include 'navbar.html' %}
		</button>
			</ul>
		</div>
	</nav>



    <form class="m-5" method="POST" action="{% url 'forms:submit' %}">
        {% csrf_token %}
		
        <div class="container">

            <div class="form-group">
              <label for="nama">Name :</label>
              <input type="text" class="form-control" id="nama" name="nama">
            </div>

            <div class="form-group">
                <label for="hobby">Hobby :</label>
                <input type="text" class="form-control" id="hobby" name="hobby">
            </div>

            <div class="form-group">
                <label for="favfood">Favorite Food :</label>
                <input type="text" class="form-control" id="favfood" name='favfood'>
            </div>

            <div class="form-group">
				<label for="classYear">Batch :</label>
                <select class="form-control form-control-sm mb-3" type="text" id='classYear' name='classYear'>
					<option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
					<option>2019</option>
                  </select>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>

      <div class="container">
          {% for friends in friendList %}
			<form action="{% url 'forms:delete' friends.id %}" method="POST">
            {% csrf_token %}
                    <h4><strong><br>{{ friends.name }}</h4>
                    <p>Hobby         : {{ friends.hobby }}</p>
                    <p>Favorite Food : {{ friends.favFood }}</p>
					<p>Batch         : {{ friends.ClassYear }}</p>
                    <button type="submit" class="btn btn-primary" value="delete">Delete
                    </button>
			</form>
          {% endfor %}
      </div>


    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>